*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}
body{
background:radial-gradient(circle at top,#1e1e2e,#000);
color:#fff
}
header
{
background:rgba(0,0,0,0.7);
padding:20px;
text-align:center
}
header h1{
color:#00eaff;
font-size:2.4rem
}
nav ul{
display:flex;
justify-content:center;
list-style:none;
margin-top:10px
}
nav ul li{
margin:0 15px
}
nav a{
color:#fff;
text-decoration:none;
font-weight:bold
}
nav a:hover{
color:#00ff8c
}
.section{
padding:60px 0;
text-align:center
}
.section h2{
color:#00d4ff;
font-size:2.3rem;
margin-bottom:25px;
text-shadow:0 0 3px rgba(0,212,255,0.4)
}
.container{
width:90%;margin:auto
}
.cards{
padding:20px;
display:flex;
justify-content:center;
flex-wrap:wrap;gap:25px
}
.card{
    width:250px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(0,255,140,0.2);
    border-radius:15px;
    overflow:hidden;
    transition:.3s
}
.card:hover{
transform:scale(1.05);
box-shadow:0 0 15px #00eaff
}
.card img{
    width:100%;
    height:220px;
    object-fit:cover
}
.card h4{
color:#00ff8c;
margin:12px 0
}
.card p{
color:#ccc;
font-size:.95rem;
padding:0 12px 15px;
}
.founders{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap
}
.founder img{
width:220px;
height:220px;
border-radius:50%;
border:3px solid #00eaff
}
.founder h4{
color:#00ff8c;
margin-top:10px
}
.guide{
max-width:650px;
margin:auto;
background:rgba(255,255,255,.05);
padding:30px;
border-radius:15px
}
.guide a{
display:inline-block;
margin-top:15px;
padding:10px 20px;
background:#00ff8c;
color:#000;
font-weight:bold;
border-radius:8px;
text-decoration:none
}
footer{
background:rgba(0,0,0,.85);
padding:40px;
text-align:center
}
footer i{
margin-top:10px;
color:#00ff8c;
margin-right:8px
}
.copy{
color:#00ff8c;
margin-top:15px
}

.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    background:#25D366;
    color:#fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    z-index:999
}
